body {
  height: 100%;
  margin: 0;
}

.backgroundContainer{
  background-image: url(https://lh3.googleusercontent.com/pw/AP1GczO7ub15S7s0hMQJgwNEjE2dYbgL7-Td68H3o2kD01IRMofSexxvyTgt2DHNDn7avCmYVVy_z7k-B7meQ_LlZIzyzhRqV64CSNOrHqUXn3V4JU7kZwh3=w2400);
  
}

